{
  "extends": ["eslint-config-sumikko", "eslint-config-sumikko/node", "eslint-config-sumikko/ts", "eslint-config-sumikko/prettier"],
  "rules": {
    "no-underscore-dangle":0,
    "camelcase": 0
  }
}